.sidebar {
  width: 220px;
  height: 100vh;
  background: #0f2c52;
  color: white;
  padding: 20px;
  position: fixed;
}

.sidebar .logo {
  margin-bottom: 30px;
  font-size: 22px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 10px 0;
  text-decoration: none;
  font-size: 17px;
}

.sidebar a:hover {
  background: rgba(255,255,255,0.1);
  border-radius: 6px;
  padding-left: 10px;
  transition: 0.2s;
}
